<div class="login-container">
  <div class="logo-container">
    <a [routerLink]="['/']">
      <img src="danzig-carpets-logo.webp" alt="dc portal logo" />
    </a>
  </div>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="form-group">
      <input
        id="email"
        type="text"
        formControlName="email"
        [placeholder]="emailInvalid ? 'Email jest wymagany i musi być poprawny!' : 'Email'"
        [class.invalid]="emailInvalid"
        name="email"
        autocomplete="email"
        required
      />
    </div>
    <div class="form-group password-container">
      <input
        id="password"
        [type]="passwordFieldType"
        formControlName="password"
        [placeholder]="passwordInvalid ? 'Hasło jest wymagane!' : 'Hasło'"
        [class.invalid]="passwordInvalid"
        autocomplete="current-password"
        required
      />
      <div class="toggle-password" (click)="togglePasswordVisibility()">
        <i
          class="eye-icon"
          [ngClass]="passwordFieldType === 'password' ? 'bi bi-eye-slash' : 'bi bi-eye'"
        ></i>
      </div>
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <button type="submit" [disabled]="form.invalid">Login</button>
  </form>
</div>
